<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>
<body style="background-color: rgba(60,63,65,0.5);">
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><h1>TechnoForum</h1></a>
        <p>
        {% if current_user.is_authenticated %}
            {% if current_user.role >= 3 %}
            <a class="navbar-brand" href="/users">Users</a>
            {% endif %}
                <a class="navbar-brand" href="/user/{{ current_user.id }}">{{ current_user.nickname }}</a>
                <a class="btn btn-light" href="/logout">Logout</a>
        {% else %}
                <a class="btn btn-secondary " href="/registration">Sign up</a>
                <a class="btn btn-light" href="/login">Sign in</a>
        {% endif %}
        </p>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>